
body {
    background-color: rgb(192, 191, 191);
}

.main {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    max-width: 30rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    box-shadow: 0.19rem 0.19rem rgba(0, 0, 0, 0.178);
}

.main .content {
    width: 100%;

    margin: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h3 {
    margin-bottom: 1.5rem;
}

form {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

#full-name-reader, #username-reader, #email-reader, #password-reader {
    width: 100%;
    max-width: 20rem;
    margin-top: 0.5rem;
    height: 2rem;
    font-size: 16px;
    padding-left: 3px;
    display: block;
    margin-bottom: 13px;
    border: 0.5px solid rgba(0, 0, 0, 0.116);
    background-color: rgba(138, 221, 214, 0.342);
}

#audio-reader {
    width: 100%;
    max-width: 20rem;
}

#sign-up-reader {
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    display: block;

    background-color: rgb(58, 58, 197);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border:none;

    transition-property: background-color;
}

#sign-up-reader:hover {
    background-color: rgb(15, 15, 70);
    cursor: pointer;
}

.outros a {
    display: block;
    margin-bottom: 0.2rem;
}