
body {
    background-color: rgb(192, 191, 191);
}

main {
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;

}

.container-1 {
    position: relative;
    width: 100%;
    height: 420px;
    padding: 25px;
   
}

.content-1 {
    width: 70%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.164);
}

.content-1 div {
    width: 100%;
    height: 100%;
}

.content-1 h3 {
    margin-bottom: 15px;
}

.form-cadastro input {
    width: 250px;
    height: 30px;
    font-size: 16px;
    padding-left: 3px;
    display: block;
    margin-bottom: 13px;
    border: 0.5px solid rgba(0, 0, 0, 0.116);
    background-color: rgba(138, 221, 214, 0.342);
}

#audio-reader {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#sign-up-reader {
    margin-top: 40px;
    width: 100px;
    height: 37px;

    background-color: rgb(58, 58, 197);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border:none;

    transition-property: background-color;
}

#sign-up-reader:hover {
    background-color: rgb(33, 33, 172);
}

