
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    /* background-image: url(./img-css/Background-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
}

.header {
    width: 100%;
    height: 3rem;
    background-color: rgb(28, 15, 41);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 970px;
    height: 3rem;
    margin: auto;

}

.logo {
    display: flex;
    height: 100%;
    background-color: rgb(110, 5, 209);
}

.logo img {
    position: relative;
    margin-top: 0.4rem;
    width: 2rem;
    
}

.menu-top {
    display: flex;
}

.header-menu {
    display: flex;
}

.header-menu a {
    
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 2rem;
}

.login {
    border: solid 0.18rem white;
    border-radius: 0.3rem;
    padding: 0.25rem;
}

.redes-sociais {
    position: relative;
    display: inline-flex;
    width: 1.2rem;
    top: 0.4rem;
    margin-right: 0.8rem;
}

/* SECTIONS */

.carousel {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 970px;
    height: 15rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    box-shadow: 0.19rem 0.19rem rgba(0, 0, 0, 0.178);
}

.carousel .content {
    display: flex;
    margin: 3rem;
    background-color: turquoise;
    
}

.carousel .content img {
    display: flex;
    width: 10rem;
}

.carousel .content div {
    position: relative;
    font-size: 1.15rem;
    margin-left: 2rem;
    text-align: justify;
    height: fit-content;
    top: 5rem;
    transform: translateY(-50%);
}

.main {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 970px;
    height: 15rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    box-shadow: 0.19rem 0.19rem rgba(0, 0, 0, 0.178);
}

.main .content {
    display: flex;
    margin: 3rem;
    background-color: turquoise;
}

.main .content div {
    position: relative;
    font-size: 1.15rem;
    margin-left: 2rem;
    text-align: justify;
    height: fit-content;
    top: 5rem;
    transform: translateY(-50%);
}

.main .content img {
    display: flex;
    width: 10rem;
}
/* FOOTER */

.footer {
    width: 100%;
    height: 13rem;
    background-color: gray;
    border-top: rgba(0, 0, 0, 0.219) solid 0.15rem;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    width: 100%;
    max-width: 970px;
    margin: auto;
}

.footer-menu li {
    margin-bottom: 0.25rem;
}

.footer-menu li a{
    font-size: 1.15rem;
    color: white;
}

.footer .logo {
    position: relative;
    right: 25rem;
}
.footer .logo a img{
    position: relative;
    width: 2.5rem;

}