
* {
    margin: 0;
    padding: 0;
} 

body {
    height: 100%;
    background-color: hotpink;
}

a {
    text-decoration: none;
}

nav {
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    background-color: rgb(34, 24, 31);
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.topo {
    
}

.logo {
    margin-left: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
}

.logoEstilo img {
    margin-right: 5px;
    width: 45px;
    border-radius: 50%;
    background-color: rgba(142, 199, 253, 0.726);
    transform: translateY(20%);
}

.logoEstilo {
    
    color: rgb(245, 243, 240);
    font-size: 33px;
}

.menu {
    position: relative;
    list-style: none;
    top: 35%;
}

.m {
    font-weight: bold;
    margin-right: 75px;
    float: right;
    text-decoration: none;
    color: white;

}

footer {
    background-color: gray;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}
.info1 {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    /* background-color: aqua; */
    left: 100%;
    transform: translateX(-100%);

}
.baixo {
    position: relative;
    /* background-color: green; */
    display: inline-block;
    /* transform: translateX(-50%); */
}
.info2 {
    left: 0;
    margin-left: 150px;
    margin-bottom: 20px;
}
.info2 img{
    position: relative;
    
    width: 200px;
}