body {
    margin: 0;
    padding: 0;
}

.topo {
    position: relative;
    background-color: rgb(34, 24, 31);
    height: 9vh;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    position: relative;
    float: left;
}
.logoEstilo {
    border-radius: 7px;
    position: absolute;
    padding: 4px;
    background-color: rgb(35, 20, 124);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 5vh;
}
.menu {
    list-style: none;
    text-decoration: none;
    float: right;
    
}
.sobre {
    
}

.login {
    
}

.cadastro {
    
}

.m {
    
    text-decoration: none;
    color: white;
}


