.m {
    list-style: none;
    width: 200px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    display: inline;
}
.d1 {
    
    background-color: red;
}

.d2 {
    
    background-color: rgb(76, 0, 255);
}

.d3 {
    
    background-color: rgb(9, 255, 0);
}