
* {
    margin: 0;
    padding: 0;
}

.e {
    font:bold 25px "arial";
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    
}

.elemento1 {
    background-color: red;
    float: left;
}

.elemento2 {
    background-color: royalblue;
    float: right;
}



.container {
    overflow: hidden;
    background-color: rgb(62, 21, 243);
}

p {
    clear: both;
}