<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela login</title>
</head>
<body>
    <form method="POST" action="">
        <input type="text" placeholder="Login" name="login" id="a">
        <input type="password" placeholder="Senha" name="password" id="b">
        <input type="submit" name="acao" value="Entrar">
    </form>
</body>
</html>